<meta charset="utf-8">
<title><%= title %></title>
<meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
<meta content="width=device-width, initial-scale=1.0, maximum-scale=1" name="viewport">
<%== meta_data_tags %>
<%= canonical_tag(current_store.url) %>
<link rel="shortcut icon" href="https://cdn.tokyowheel.com/tokyowheel-favicon.png" type="image/png" />
<%= stylesheet_link_tag 'spree/frontend/all', media: 'screen' %>
<%= stylesheet_link_tag 'application', media: 'screen' %>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
<%= csrf_meta_tags %>
<%= javascript_include_tag 'spree/frontend/all' %>
<%= javascript_include_tag 'application' %>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
<meta property="og:url" content="<%= request.url %>"/>
<meta property="og:title" content="<%= title %>"/>
<!-- <meta property="og:description" content="<%#= TODO add meta_description tag here please %>"/> -->
<meta property="og:image" content="https://cdn.tokyowheel.com/images/tokyowheel-facebook-profile-image.jpg%0A"/>
<%= yield :head %>